body {
    font-family: "Open Sans";
    background-color: #9999A1;
    /* background-image: url("https://images2.imgbox.com/7f/14/BTRmiHEi_o.jpg"); */
  }
  h1,
  h2,
  h3,
  .h1,
  .h2,
  .h3 {
    font-family: "Montserrat";
    text-align: center;
  }
  .list-group-item + .list-group-item,
  .list-group-item-action,
  .list-group-item-action:first-child,
  .list-group-item-action:last-child {
    background-color: #CCF5AC;
    line-height: 1;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #495f41;
    /* border: 1px solid #F39237; */
    box-shadow: 0 0 3px #495f41;
    transition: font-weight 0.25s linear, background-color 0.25s linear, transform 0.1s linear;
  }
  .list-group-item + .list-group-item:hover,
  .list-group-item-action:hover,
  .list-group-item-action:first-child:hover,
  .list-group-item-action:last-child:hover {
    background-color: #D63230;
    transform: scale(1.3);
    font-weight: 500;
  }
  .logo {
    max-width: 100px;
  }
  p{
    text-align: center; 
  }